/* CONTENT_DEBUG.css

 Any Style that defines the look of content elements */

/* COLORS */

/* Background-Colors */
.bluebg		{background-color: #5990D8;}
.orangebg 	{background-color: #F1753A;}
.yellowbg	{background-color: #FFE046;}
.redorabg 	{background-color: #910D04;}
/* Color */
.blue 		{color: #5990D8;}
.orange 	{color: #F1753A;}
.yellow		{color: #FFE046;}
.redora		{color: #910D04;}

/* NAVBAR */
/* INPUT